<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="utf-8">
	{% block head_content %}{% endblock %}

	{% block referencias %}{% endblock %}

    {% load static %}

	<!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
</head>
<body>
	<div class="Slidebar">
		<h2>MENU</h2>
		<ul>
			{% block sidebar %}{% endblock %}
		</ul>
	</div>

	<div class="contenido">
		<img src="{% static 'img/barrita.png' %}" alt="" class="menu-bar">

			{% block pantalla %}{% endblock %}

	</div>
    <script src="{% static 'js/abrir.js' %}"></script>

</body>
</html>