{% extends "principalP.html" %}

{% block head_content %}

<title>PROFESOR</title>

{% endblock %}

{% block referencias %}

{% load static %}
	<link rel="stylesheet" href="{% static 'css/styleperfilD.css' %}">

{% endblock %}

{% block sidebar %}

            <li><a href="perfilDocente.html">Perfil</a></li>
			<li><a href="gestionarusuario.html">Gestionar Usuario</a></li>
			<li><a href="{% url 'asistencia' id=numero %}">Tomar Asistencias</a></li>
			<li><a href="{% url 'logout' %}">Cerrar Cesión</a></li>

{% endblock %}


{% block pantalla %}

	<form>

			<h1>Perfil de Docente : {{profe.username.upper}} , {{curso.title.upper}} </h1><br><br><br>

            <label for="apellidos">Apellidos </label>
            <input type="text" placeholder="{{profe.last_name}}" readonly>

            <label for="nombres">Apellidos </label>
            <input type="text" placeholder="{{profe.first_name}} " readonly>

		    <label for="nombres">Profesion </label>
            <input type="text" placeholder="{{profe.profesor.profesion}} " readonly>


            <input type="submit" value="Modificar Perfil">


	</form>

{% endblock %}